includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 10
    paths:
        - bin/
        - config/
        - migrations/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php
